/*____________________________________________________________________________________*/
/* Global Varables */

:root {
  --headerColor: #7b7b7b;
  --textColor: #888;
  --bgColor: linear-gradient(to bottom right, #504E51, #615F62);
}

/*____________________________________________________________________________________*/
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-moz-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}

/*____________________________________________________________________________________*/
/* Body & HTML specific styles  */

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

/*____________________________________________________________________________________*/
/* Header */

header.masthead{
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: calc(10rem - 56px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header.masthead .container, header.masthead .row{
  width: 100%;
  height: 100%;
}

img.planetImages {
  width: 150px;
  height: 150px;
  margin: 2.5px;
  display: flex;
  align-self: center;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.swiper-container {
    width: 900px;
    height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/*____________________________________________________________________________________*/
/* Divider */

img.imgDivider {
  object-fit: cover;
  transform: scale(0.5);
  width: 100%;
  height: auto;
}

.divider {
  width: 100%;
  height: 150px;
}

/*____________________________________________________________________________________*/
/* Contacts */

img.people {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
i.fab {
  font-size: 42px;
  color: #000000;
  margin: 0 25px;
}
hr {
  width: 100%;
  border-width: 5px;
  border-color: #000000;
  border-style: double;
}

.employeeTeam p {
  font-size: 12px;
  width: 60%;
}
#map {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 266.5px;
}

/*____________________________________________________________________________________*/
/* Navbar */

nav#menuTemp {
  position: fixed;
  font-family: 'Allerta Stencil', sans-serif;
  width: 100%;
  height: 60px;
  padding: 15px;
  z-index: 10;
}

#navbarBrand {
  color: var(--textColor);
}

nav#menuTemp .fab {
  font-size: 32px;
  color: var(--textColor);
}

nav#menuTemp .dropdown-menu {
  background-color: var(--bgColor);
}

nav#menuTemp .dropdown-item {
  color: var(--textColor);
}

nav#menuTemp.scrolled {
  background-color: #403E40 !important;
  transition: background-color 200ms linear;
}


/*____________________________________________________________________________________*/
/* Animations */

.apear {
  opacity: 0;
  animation-name: apear;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 1.8s !important;
}

@keyframes apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*____________________________________________________________________________________*/
/* Footer */

footer {
  background-color: #242331;
  color: #21724c !important;
  width: 100%;
  height: auto;
}

/*____________________________________________________________________________________*/
/* Text */

a, ul, ol, li {
  text-decoration: none;
  list-style-type: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
  padding: 15px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: var(--headerColor);
}

.h1, h1 {
  font-size: 72px;
}

.h2, h2 {
  font-size: 60px;
}

.h3, h3 {
  font-size: 48px;
}

@media (max-width: 719px) {
  .h3, h3 {
    font-size: 34px;
  }
}

.h4, h4 {
  font-size: 36px;
}

.h5, h5 {
  font-size: 24px;
}

.h6, h6 {
  font-size: 20px;
}

.p, p {
  color: var(--textColor);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/*____________________________________________________________________________________*/
/* Misc. */

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.overshown {
  overflow-y: scroll;
}

.overhidden {
  overflow: hidden;
}

.backgroundfix {
  background-attachment: fixed !important;
}

.textbox {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgY2HbDAAA6ADEbQLcYgAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  width: auto;
  height: auto;
  text-align: center;
  padding: 15px;
}

.centerPadding {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}
