body, html {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #B4AA97;
  overflow-x: hidden;
}

body {
  margin: 0;
}

:root {
  --black: #362c2d;
  --gray: #8b7d74;
  --dim-gray: #645852;
  --tan: #dec5ab;
  --indian-red: #c05746;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-moz-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.overshown {
  overflow-y: scroll;
}

.overhidden {
  overflow: hidden;
}

.backgroundfix {
  background-attachment: fixed !important;
}

.textbox {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEklEQVQImWMw09b5hI4ZaCAIAJDbJWhK9KnFAAAAAElFTkSuQmCC") repeat;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px;
}
.centerPadding {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}

/*____________________________________________________________________________________*/
/* Header */
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  width: 100%;
  height: 100%;
  text-align: center;
}

#bgHead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  animation-name: slideInUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 7.950s;
}

.bgImage {
  animation-name: bgImage;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 7.950s;
}

.drawLine {
  background-color: #7F7FFF;
  position: relative;
  top: 50%;
  height: 15px;
  left: 50%;
  border-radius: 25px;
}


.rocketWrap {
  position: relative;
  animation-name: rocketEnd;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 7.950s;
}

.rocketSide {
  position: relative;
  animation-name: draw, riseDeg;
  animation-duration: 2s, 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s, 3.950s;
}


@keyframes draw {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 144px;
      height: 240px;
      transform: rotate(90deg);
    }
}

@keyframes riseDeg {
  frome {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rocketEnd {
  from {
    top: 0;
  }
  to {
    top: -498px;
  }
}

#rocketWrapper {
  position: fixed;
  height: 300px;
  width: 966px;
}
#rocketWrapper img {
  position: fixed;
}

.stepOne {
  width: 36px;
  height: 60px;
}

/*____________________________________________________________________________________*/
/* Text */

a, ul, ol, li {
  text-decoration: none;
  list-style-type: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
  padding: 15px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #833721;
}

.h1, h1 {
  font-size: 72px;
}

.h2, h2 {
  font-size: 60px;
}

.h3, h3 {
  font-size: 48px;
}

@media (max-width: 719px) {
  .h3, h3 {
    font-size: 34px;
  }
}

.h4, h4 {
  font-size: 36px;
}

.h5, h5 {
  font-size: 24px;
}

.h6, h6 {
  font-size: 20px;
}

.p, p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
